*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  width: 1140px;
  align-items: end;
  grid-template-areas: 'result result content';
  margin: auto 0;
  column-gap: 30px;
}

.result {
  grid-area: result;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  margin-bottom: 17px;
}

.result__video {
  object-fit: cover;
  width: 711px;
  height: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  padding-bottom: 5px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  flex-wrap: wrap;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px #fff solid;
  outline-offset: 1.5px;
}

.search-form__textfield {
  border: currentColor solid;
  border-width: 1px 0;
  background-color: transparent;
  width: 224px;
  height: 27px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  outline: none;
  color: #fff;
  margin-bottom: 1px;
}

.search-form__textfield:active {
  border: white solid 1px;
}

.search-form__textfield:focus-visible {
  outline: white solid 1px;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
  margin-bottom: 6.5px;
}

.search-form__checkbox-list .search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

input:focus-visible {
  outline: none;
}

.search-form__pseudo-checkbox {
  border: #fff 1px solid;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  content: ' ';
  background-color: #fff;
  display: flex;
  justify-self: center;
  width: 15px;
  height: 15px;
  margin-top: 1.2px;
}

fieldset {
  border: none;
}

.title {
  padding-bottom: 26px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid currentColor;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-bottom: 1px;
}

.more-button {
  width: 390px;
  height: 34px;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: white solid 1px;
  outline-offset: 1px;
}

.content__details {
  grid-area: content;
}

.content__list {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
}

.content__list-container {
  width: 399px;
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item {
  padding: 0 3px;
}

.content__video-card {
  display: flex;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2.5px;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: #fff 1px solid;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-description-container {
  width: 196px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  line-height: 100%;
  padding-bottom: 3px;
}

.content__video-card-description {
  font-size: 18px;
  overflow: hidden;
  padding-bottom: 10px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
